In [ ]:
from __future__ import annotations

import pandas as pd

In [ ]:
import stdflow as sf
from root import data_root

In [ ]:
sf.root = data_root
sf.step_in = 'typing_fixed'
sf.step_out = 'merged'
sf.version = sf.var('version', ':default')

df_countries = sf.load(attrs="countries", verbose=True)
df_wp = sf.load(attrs='world_happiness', verbose=True)

INFO:stdflow.step:Loading data from ../../data/countries/step_typing_fixed/v_ppl/countries.csv
INFO:stdflow.step:Data loaded from ../../data/countries/step_typing_fixed/v_ppl/countries.csv
INFO:stdflow.step:Loading data from ../../data/world_happiness/step_typing_fixed/v_ppl/report_2019.csv
INFO:stdflow.step:Data loaded from ../../data/world_happiness/step_typing_fixed/v_ppl/report_2019.csv

In [ ]:
df_countries.head()

,country,region,population,area_sq_mi,pop. density_per_sq_mi,coastline_coast_area_ratio,net migration,infant mortality_per_1000_births,gdp_per_capita,literacy_percent,phones_per_1000,arable_percent,crops_percent,other_percent,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [ ]:
df_wp.rename(columns={'country (region)': 'country'}, inplace=True)
df_wp.head()

,country,ladder,sd of ladder,positive affect,negative affect,social support,freedom,corruption,generosity,log of gdp per capita,healthy life expectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [ ]:
df = pd.merge(df_wp, df_countries, on='country', how='left')

In [ ]:
sf.save(df, attrs='master_dataset/happiness', step='merged', file_name='data.csv', verbose=True, export_viz_tool=True)

INFO:stdflow.step:Saving data to ../../data/master_dataset/happiness/step_merged/v_ppl/data.csv
INFO:stdflow.step:Data saved to ../../data/master_dataset/happiness/step_merged/v_ppl/data.csv
INFO:stdflow.step:Saving metadata to ../../data/master_dataset/happiness/step_merged/v_ppl/
INFO:stdflow.step:Exporting viz tool to ../../data/master_dataset/happiness/step_merged/v_ppl/

attrs=master_dataset/happiness::step_name=merged::version=ppl::file_name=data.csv