In [15]:
import stdflow as sf

import pandas as pd
import random
from faker import Faker
from stdflow import Step

data_root = "../../data"

country = sf.var("country", "spain")

sf.step_out = "sex_processed"
sf.step_in = "loaded"
sf.root = data_root
sf.attrs = ["twitter", country]

df = sf.load()

In [16]:
import numpy as np

df.sex = np.where(df.sex == "male", "M", "F")

In [17]:
sf.save(df, attrs=["twitter", country], file_name=f"{country}_data.xlsx", index=False)

In [18]:
df.head()

                                              tweets sex
0  Act hear though education yard environment. Ba...   M
1  Result trip individual computer year game impr...   M
2  Yourself front where name image opportunity si...   F
3  Hour first painting cut. Talk old prevent theo...   M
4  New fund drug word light.\nOpportunity energy ...   F